/*              GENERAL              */
body {
    background: #E5E5E5;
}

/*              HEADER              */
header h1 {
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
}


/*              MAIN              */
.caja-texto-no-encriptado {
    margin-top: 20px;
    margin-left: 150px;
}

.caja-texto {
    border: none;
    outline: none;
    background-color: transparent;
    resize: none; /* disappearing the resizable toggle from textarea */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400; /*same as normal and 700 = bold => 100 to 900*/
    color: #0A3871;   
}

.caja-advertencia {
    margin-left: 150px;
    margin-bottom: 10px;
}

.caja-advertencia p{
    display: inline-block;
    padding-left: 10px;
    font-size: 12px;
    opacity: 0.7;
}

.caja-botones {
    margin-left: 150px;
}

.caja-botones button {
    width: 250px;
    height: 50px;
    border-radius: 24px;
    font-size: 15px;
}

.boton-encriptar {
    background-color: #0A3871;
    color: #ffffff;
    border: none;
}

.boton-encriptar:active {
    background-color: #021e3f;
    cursor: pointer;
}
.boton-encriptar:hover {
    cursor: pointer;
}

.boton-desencriptar {
    color: #0A3871;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    margin-left: 24px;
}

.boton-desencriptar:active {
    background-color: #a6b0bc;
}
.boton-desencriptar:hover{
    cursor: pointer;
}


/*              FOOTER              */
.caja-rodapie-datos-personales-desarrollador {
    text-align: center;
}

footer {
    color: #ffffff;
    background: #000000;
}

li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    padding: 15px;
}

.Copyright{
    text-decoration: none;
    color: inherit; /* remove the color blue of link*/
}

.logo-organism {
    background: transparent;
    width: 200px;
    height: 200px;
    padding: 0px;
}
footer > div > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: lightgray;
    text-align: center;
    padding: 15px;
}